# Virtual environment files
bin/
lib/
pyvenv.cfg
venv/
env/

# Jetbrains IDE files
.idea/

# Python bytecode
*.pyc

# Visual studio code files
.vscode/

# css map
*.css.map

# files resulting from construction
src/bin/
src/build/
src/dist/
src/transclip.spec
