$editor: #1E1E1E;
$menu-border: 0.5 solid #666666;
$window: #333333;
$menu: #383838;
$menu-bar: #1E1E1E;
$white: #FFFFFF;


QDialog {
    background-color: $window;
}

QLabel {
    color: $white;
}

QMainWindow {
    background-color: $window;
}

QMenuBar {
    background-color: #2F2F2F;
    color: $white;
}

QMenuBar::item:pressed {
    background: #424242;
}

QMenuBar::item:selected {
    border-bottom: 2px solid #375980;
}

QMenu {
    background-color: $menu;
    border: $menu-border;
}

QMenu::item:selected {
    background-color: #546E7A;
}

QMenu::item:enabled {
    color: $white;
}

QMenu::item:disabled {
    color: #8f8f8f;
}

QMessageBox {
    background-color: $window;
}

QPushButton:enabled {
    background-color: #3C3C3C;
    color: $white;
}

QPushButton:disabled {
    background-color: #2F2F2F;
    color: #8f8f8f;
}

QTextEdit {
    background-color: $editor;
    color: $white;
    font-size: 15px;
}
